@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    background:  rgba(0,0,0,0.5) url("1.jpg") ;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-blend-mode: darken;
    font-family: 'Kanit', sans-serif;
}

.container{
   
    width: 60%;
    margin: auto;
    height: 70%;
    position: relative;
    top: 150px;
    justify-content: center;
    
}

.heading{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 60px;
    text-align: center;
}

.time-container{
    
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.time-container div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 9px;
    text-align: center;
    justify-content: center;
}


.sp{
    color: #ffffff;
    font-size: 60px;
    position: relative;
    top: 25px;
}

.last{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#wish{
    margin-top: 15px;
    background: none rgba(0,0,0,0.5);
    padding: 10px;
    color: rgb(204, 193, 193);
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
p{
    color: #ffffff;
}